{% extends "blog/index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    
    <button type="submit">Submit Changes</button>
</form>

{% endblock content %}


<form id="contact_form" action="https://www.enformed.io/asm9hpxv" method="POST" enctype="multipart/form-data">
    <div class="row">
      <label class="required" for="name">Your name:</label><br />
      <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
      <span id="name_validation" class="error_message"></span>
    </div>
    <div class="row">
      <label class="required" for="email">Your email:</label><br />
      <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
      <span id="email_validation" class="error_message"></span>
    </div>
    <div class="row">
      <label class="required" for="phone">Your Phone Number:</label><br />
      <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
      <span id="phone_validation" class="error_message"></span>
    </div>
    <div class="row">
      <label class="required" for="message">Your message:</label><br />
      <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
      <span id="message_validation" class="error_message"></span>
    </div>
      
      <input class="btn btn-primary" id="submit_button" type="submit" value="Send email" />
      
        </div>
      </div>
    </div>